<section class="experience" id="experience">
     <div class="container">
          <div class="experience__container">
               <h2 class="experience__heading">My <b>Experience</b></h2>
               <div class="experience__list flex">
                    <a href="#!" class="experience__link">
                         <div class="experience__link-inner flex">
                              <div class="experience__wrapper-text flex">
                                   <img
                                        class="experience__icon"
                                        src="/images/experience/google.svg"
                                        alt="Google"
                                   />
                                   <h3 class="experience__title">
                                        Lead Software Engineer at&nbsp;Google
                                   </h3>
                              </div>
                              <span class="experience__span"> Nov 2019&nbsp;&mdash; Present </span>
                         </div>
                         <p class="experience__desc">
                              As&nbsp;a&nbsp;Senior Software Engineer at&nbsp;Google, I&nbsp;played
                              a&nbsp;pivotal role in&nbsp;developing innovative solutions for
                              Google&rsquo;s core search algorithms. Collaborating with
                              a&nbsp;dynamic team of&nbsp;engineers, I&nbsp;contributed to&nbsp;the
                              enhancement of&nbsp;search accuracy and efficiency, optimizing user
                              experiences for millions of&nbsp;users worldwide.
                         </p>
                    </a>

                    <a href="#!" class="experience__link">
                         <div class="experience__link-inner flex">
                              <div class="experience__wrapper-text flex">
                                   <img
                                        class="experience__icon"
                                        src="/images/experience/youtube.svg"
                                        alt="YouTube"
                                   />
                                   <h3 class="experience__title">
                                        Software Engineer at&nbsp;Youtube
                                   </h3>
                              </div>
                              <span class="experience__span"> Jan 2017&nbsp;&mdash; Oct 2019 </span>
                         </div>
                         <p class="experience__desc">
                              At&nbsp;Youtube, I&nbsp;served as&nbsp;a&nbsp;Software Engineer,
                              focusing on&nbsp;the design and implementation of&nbsp;backend systems
                              for the social media giant&rsquo;s dynamic platform. Working
                              on&nbsp;projects that involved large-scale data processing and user
                              engagement features, I&nbsp;leveraged my&nbsp;expertise to&nbsp;ensure
                              seamless functionality and scalability.
                         </p>
                    </a>

                    <a href="#!" class="experience__link">
                         <div class="experience__link-inner flex">
                              <div class="experience__wrapper-text flex">
                                   <img
                                        class="experience__icon"
                                        src="/images/experience/apple.svg"
                                        alt="Apple"
                                   />
                                   <h3 class="experience__title">
                                        Junior Software Engineer at&nbsp;Apple
                                   </h3>
                              </div>
                              <span class="experience__span"> Jan 2016&nbsp;&mdash; Dec 2017 </span>
                         </div>
                         <p class="experience__desc">
                              During my&nbsp;tenure at&nbsp;Apple, I&nbsp;held the role
                              of&nbsp;Software Architect, where&nbsp;I played a&nbsp;key role
                              in&nbsp;shaping the architecture of&nbsp;mission-critical software
                              projects. Responsible for designing scalable and efficient systems,
                              I&nbsp;provided technical leadership to&nbsp;a&nbsp;cross-functional
                              team.
                         </p>
                    </a>
               </div>
          </div>
     </div>
</section>
