<footer class="footer" id='footer'>
  <div class="container">
    <div class="footer__container flex">
      <div class="form">
        <form class="footer__form flex" id='form' action="#!" novalidate >
          <input class="footer__input" id='name' type="text" name='name' placeholder="Your name" required/>
          <span class="footer__span" id="error-message-name"></span>
          <input class="footer__input" id='url' type="url" name='url' placeholder="Your website (If exists)" required/>
          <span class="footer__span" id="error-message-url"></span>
          <textarea class="footer__textarea" id='text' id="form" name='text' spellcheck="true" placeholder="How can I help?*" required></textarea>
          <span class="footer__span" id="error-message-text"></span>
        </form>
        <div class="footer__wrap flex">
          <button class="form__button" type='submit' form='form'>Get In&nbsp;Touch</button>
          <address class="footer__form-social form-social">
            <div class="form-social__list flex">
              <a href="#!" class="form-social__card">
                <svg class="form-social__card-svg">
                  <use xlink:href="/__spritemap#sprite-social1"></use>
                </svg>
              </a>
              <a href="#!" class="form-social__card">
                <svg class="form-social__card-svg">
                  <use xlink:href="/__spritemap#sprite-social2"></use>
                </svg>
              </a>
              <a href="#!" class="form-social__card">
                <svg class="form-social__card-svg">
                  <use xlink:href="/__spritemap#sprite-social3"></use>
                </svg>
              </a>
              <a href="#!" class="form-social__card">
                <svg class="form-social__card-svg">
                  <use xlink:href="/__spritemap#sprite-social4"></use>
                </svg>
              </a>
            </div>
          </address>
        </div>
      </div>
      <div class="footer__block-text block-text">
        <h2 class="block-text__heading">
          <b>
            Let&rsquo;s  <span class="block-text__span">talk</span>  for
            <br>
            Something special
          </b>
        </h2>
        <p class="block-text__desc">
          I&nbsp;seek to&nbsp;push the limits of&nbsp;creativity to&nbsp;create
          high-engaging, user-friendly, and memorable interactive experiences.
        </p>
        <address class="block-text__address flex">
          <a href="mailto:bla.bla.bla@gmail.com" class="block-text__link">
            bla.bla.bla@gmail.com
          </a>
          <a href="tel:+11234567890" class="block-text__link">
            1234567890
          </a>
        </address>
      </div>
    </div>
  </div>
  </div>
</footer>
<!-- Bottom -->
<div class="footer__bottom">
  <div class="container">
    <div class="footer__bottom-wrap flex">
      <a href="#!" class="footer__logo footer-logo" aria-label="Footer Logo">
        <svg class="footer-logo__svg">
          <use xlink:href="/__spritemap#sprite-footer"></use>
        </svg>
      </a>
      <div class="footer__copyright footer-copyright flex">
        <span class="footer-copyright__span">
          © 2019-2023 Personal
        </span>
        <span class="footer-copyright__span">
          Made In&nbsp;Figma
        </span>
      </div>
    </div>
  </div>
