<header class="header" id="top">
     <div class="container">
          <div class="header__container flex">
               <!-- Logo -->
               <a href="#!" class="header__logo logo">
                    <svg class="logo__svg">
                         <use xlink:href="/__spritemap#sprite-logo" />
                    </svg>
               </a>
               <!-- Nav -->
               <nav class="header__nav nav flex">
                    <ul class="header__list list flex">
                         <li class="header__item item">
                              <a class="header__link link" href="#about">About Me</a>
                         </li>
                         <li class="header__item item">
                              <a class="header__link link" href="#skills">Skills</a>
                         </li>
                         <li class="header__item item">
                              <a class="header__link link" href="#projects">Project</a>
                         </li>
                         <li class="header__item item">
                              <a class="header__link link" href="#footer">Contact&nbsp;me</a>
                         </li>
                    </ul>
               </nav>
               <a class="header__btn btn flex" href="#!" download="#">
                    Resume
                    <svg class="btn__svg">
                         <use xlink:href="/__spritemap#sprite-download" />
                    </svg>
               </a>

               <button class="header__burger grid">
                    <div class="header__berger-line"></div>
               </button>
          </div>
     </div>
</header>
