<section class="hero" id='hero'>
     <div class="container">
          <div class="hero__container">
               <h2 class="hero__heading">
                    Hello I&rsquo;am <b>Evren Shah.</b>
                    <br />
                    <b>Frontend</b>
                    <span class="hero__span"> <b>Developer</b></span>
                    <br />
                    Based&nbsp;In <b>India.</b>
               </h2>
               <p class="hero__desc">
                    I&rsquo;m Evren Shah Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing
                    and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard
                    dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley
                    of&nbsp;type and scrambled it&nbsp;to&nbsp;specimen book.
               </p>
               <address class="hero__social social">
                    <div class="social__list flex">
                         <a class="social__link" href="#!">
                              <svg class="social__svg">
                                   <use xlink:href="/__spritemap#sprite-social1"></use>
                              </svg> </a
                         ><a class="social__link" href="#!">
                              <svg class="social__svg">
                                   <use xlink:href="/__spritemap#sprite-social2"></use>
                              </svg> </a
                         ><a class="social__link" href="#!">
                              <svg class="social__svg">
                                   <use xlink:href="/__spritemap#sprite-social3"></use>
                              </svg> </a
                         ><a class="social__link" href="#!">
                              <svg class="social__svg">
                                   <use xlink:href="/__spritemap#sprite-social4"></use>
                              </svg>
                         </a>
                    </div>
               </address>
          </div>
     </div>
</section>
