<div class="mobile flex">
     <div class="mobile__close"></div>
     <nav class="mobile__nav">
          <ul class="mobile__list flex">
               <li class="mobile__item">
                    <a href="#about" class="mobile__link">About&nbsp;Me</a>
               </li>
               <li class="mobile__item"><a href="#skills" class="mobile__link">Skills</a></li>
               <li class="mobile__item">
                    <a href="#projects" class="mobile__link">Project</a>
               </li>
               <li class="mobile__item">
                    <a href="#footer" class="mobile__link">Contact&nbsp;me</a>
               </li>
          </ul>
     </nav>
     <a href="#!" class="mobile__btn" download="#!">
          Resume
          <svg class="mobile__btn-svg">
               <use xlink:href="/__spritemap#sprite-download" />
          </svg>
     </a>
</div>
