<section class="projects" id='projects'>
     <div class="container">
          <div class="projects__container">
               <h2 class="projects__heading">
                    My
                    <b>Projects</b>
               </h2>
               <ul class="projects__list flex">
                    <li class="projects__item flex">
                         <div class="projects__item-wrap flex">
                              <span class="projects__number">01</span>
                              <h3 class="projects__title">Crypto Screener Application</h3>
                              <p class="projects__desc">
                                   I&rsquo;m Evren Shah Lorem Ipsum is&nbsp;simply dummy text
                                   of&nbsp;the printing and typesetting industry. Lorem Ipsum has
                                   been the industry&rsquo;s standard dummy text ever since the
                                   1500s, when an&nbsp;unknown printer took a&nbsp;galley
                                   of&nbsp;type and scrambled it&nbsp;to&nbsp;specimen book.
                              </p>
                              <a href="#!" class="projects__link">
                                   <svg class="projects__svg">
                                        <use xlink:href="/__spritemap#sprite-more"></use>
                                   </svg>
                              </a>
                         </div>
                    </li>
                    <li class="projects__item flex">
                         <div class="projects__item-wrap flex">
                              <span class="projects__number">02</span>
                              <h3 class="projects__title">
                                   Euphoria&nbsp;&mdash; Ecommerce (Apparels) Website Template
                              </h3>
                              <p class="projects__desc">
                                   I&rsquo;m Evren Shah Lorem Ipsum is&nbsp;simply dummy text
                                   of&nbsp;the printing and typesetting industry. Lorem Ipsum has
                                   been the industry&rsquo;s standard dummy text ever since the
                                   1500s, when an&nbsp;unknown printer took a&nbsp;galley
                                   of&nbsp;type and scrambled it&nbsp;to&nbsp;specimen book. when
                                   an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and
                                   scrambled it&nbsp;to&nbsp;specimen book.
                              </p>
                              <a href="#!" class="projects__link">
                                   <svg class="projects__svg">
                                        <use xlink:href="/__spritemap#sprite-more"></use>
                                   </svg>
                              </a>
                         </div>
                    </li>
                    <li class="projects__item flex">
                         <div class="projects__item-wrap flex">
                              <span class="projects__number">03</span>
                              <h3 class="projects__title">Blog Website Template</h3>
                              <p class="projects__desc">
                                   I&rsquo;m Evren Shah Lorem Ipsum is&nbsp;simply dummy text
                                   of&nbsp;the printing and typesetting industry. Lorem Ipsum has
                                   been the industry&rsquo;s standard dummy text ever since the
                                   1500s, when an&nbsp;unknown printer took a&nbsp;galley
                                   of&nbsp;type and scrambled it&nbsp;to&nbsp;specimen book.
                              </p>
                              <a href="#!" class="projects__link">
                                   <svg class="projects__svg">
                                        <use xlink:href="/__spritemap#sprite-more"></use>
                                   </svg>
                              </a>
                         </div>
                    </li>
               </ul>
          </div>
     </div>
</section>
