.form {
     width: 50%;
}

.footer__form {
     flex-direction: column;
     row-gap: 2rem;
     margin-bottom: 2rem;
}

.footer__input {
     max-width: 100%;
     height: 5.6rem;
     padding: 1.6rem 2.4rem;
     font-size: 1.6rem;
     border: 0.2rem solid $black;
     outline: none;
     border-radius: 0.4rem;
     transition: 0.2s ease-in-out;

     &::placeholder {
          font-weight: 400;
          font-size: 1.6rem;
          color: $zinc-500;
     }

     &:hover {
          border: 0.2rem solid $neutral;
          background-color: $zinc-100;
     }

     &:focus {
          border: 0.2rem solid $neutral;
          box-shadow: $shadow;
     }

     &:focus-visible {
          border: 0.2rem solid $neutral;
          box-shadow: $shadow;
     }

     &:active {
          border: 0.2rem solid $neutral;
     }
}

.footer__textarea {
     max-width: 100%;
     height: 14rem;
     resize: none;
     padding: 1.6rem 2.4rem;
     font-size: 1.6rem;
     border: 0.2rem solid $black;
     border-radius: 0.4rem;
     transition: 0.2s ease-in-out;

     &::placeholder {
          font-weight: 400;
          font-size: 1.6rem;
          color: $zinc-500;
     }

     &:hover {
          background-color: $zinc-100;
     }

     &:focus {
          border: 0.2rem solid $neutral;
          box-shadow: $shadow;
     }

     &:focus-visible {
          border: 0.2rem solid $neutral;
          box-shadow: $shadow;
     }

     &:active {
          border: 0.2rem solid $neutral;
     }
}

.footer__span {
     font-size: 1.6rem;
     color: $error;
}

.border-red {
     border: 0.2rem solid $error;

     &:hover {
          border: 0.2rem solid $error;
     }

     &:focus {
          border: 0.2rem solid $error;
     }

     &:focus-visible {
          border: 0.2rem solid $error;
     }

     &:active {
          border: 0.2rem solid $error;
     }
}

.shake-animation {
     animation: shake 0.2s ease infinite;
}

@keyframes shake {
     0% {
          border: 0.2rem solid $error;
          transform: translateX(0);
     }
     20% {
          border: 0.2rem solid $error;
          transform: translateX(-0.5rem);
     }
     40% {
          border: 0.2rem solid $error;
          transform: translateX(0.5rem);
     }
     60% {
          border: 0.2rem solid $error;
          transform: translateX(-0.5rem);
     }
     80% {
          border: 0.2rem solid $error;
          transform: translateX(0.5rem);
     }
     100% {
          border: 0.2rem solid $error;
          transform: translateX(0);
     }
}
