.header__container {
     justify-content: space-between;
     align-items: center;
     padding: clamp(1.6rem, 1.371rem + 1.14vw, 2.4rem) 0;
}

.logo__svg {
     max-width: 14rem;
     height: 4rem;
}

.header__list {
     gap: clamp(2rem, 1.714rem + 1.43vw, 3rem);
}

.header__link {
     font-weight: 600;
     font-size: clamp(1.6rem, 1.486rem + 0.57vw, 2rem);
     text-transform: capitalize;
     color: $black;
     outline: none;
     transition: 0.2s ease-in-out;
     border: 0.2rem solid transparent;

     &:hover {
          color: $neutral;
          border-bottom: 0.2rem solid $neutral;
     }

     &:focus-visible {
          color: $neutral;
          border-bottom: 0.2rem solid $neutral;
     }
}

.header__btn {
     gap: 0.8rem;
     padding: 1.6rem 2rem;
     font-weight: 600;
     font-size: 2rem;
     color: $white;
     background-color: $black;
     border: 0.2rem solid $black;
     border-radius: $border-card;
     transition: 0.2s ease-in-out;

     &:hover {
          background-color: $neutral;
          border: 0.2rem solid $neutral;
     }

     &:focus-visible {
          background-color: $neutral;
          border: 0.2rem solid $neutral;
     }

     &:active {
          color: $black;
          background-color: transparent;
     }
}

.btn__svg {
     width: 2rem;
     height: 2rem;
}

// Отключаем hover на сенсорных экранах
@media (hover: none) {
     .header__link {
          &:hover {
               color: initial;
               border: 0.2rem solid initial;
          }
     }

     .header__btn {
          color: initial;
          background-color: initial;

          &:hover {
               color: initial;
               background-color: initial;
          }
     }
}
