@media (min-width: 320px) {
     .skills__list {
          --gap: 2rem;
          --offsets: 1;
          row-gap: 2rem;
     }

     .skills__link:nth-of-type(n + 7) {
          display: none;
     }
}

@media (min-width: 500px) {
     .skills__list {
          --gap: 2rem;
          --offsets: 2;
          row-gap: 2rem;
     }

     .skills__link:nth-of-type(n + 8) {
          display: flex;
     }
}

@media (min-width: 850px) {
     .skills__list {
          --gap: 2rem;
          --offsets: 4;
          row-gap: 2rem;
     }

     .skills__link:nth-of-type(n) {
          display: flex;
     }
}
